export(add)
export(add.avg.factor)
export(add.constraint.cdar)
export(add.constraint.cvar)
export(add.constraint.gini)
export(add.constraint.mad)
export(add.constraint.mad.downside)
export(add.constraint.maxloss)
export(add.constraint.omega)
export(add.constraints)
export(add.StringBuffer)
export(add.variables)
export(all.permutations)
export(aritm2geom)
export(aritm2geom4)
export(as.xts.list)
export(asc)
export(asset.paths)
export(asset.paths.at.period.ends)
export(average.shrinkage)
export(barplot.with.labels)
export(bbb_control)
export(beta.degree)
export(binary_branch_bound)
export(bl.compute.eqret)
export(bl.compute.optimal)
export(bl.compute.posterior)
export(bl.compute.risk.aversion)
export(br.rank)
export(bt.aaa.combo)
export(bt.aaa.minrisk)
export(bt.append.today)
export(bt.apply)
export(bt.apply.ex)
export(bt.apply.ex2)
export(bt.apply.matrix)
export(bt.apply.matrix.ex)
export(bt.apply.matrix.ex2)
export(bt.apply.min.weight)
export(bt.apply.round.weight)
export(bt.change.periodicity)
export(bt.detail.summary)
export(bt.end.dates)
export(bt.exrem)
export(bt.exrem.time.exit)
export(bt.make.cashflow.event.summary.table)
export(bt.make.trade.event.summary.table)
export(bt.max.deviation.rebalancing)
export(bt.merge)
export(bt.min.holding.period)
export(bt.prep)
export(bt.prep.matrix)
export(bt.prep.remove.symbols)
export(bt.prep.remove.symbols.min.history)
export(bt.prep.trim)
export(bt.price.stop)
export(bt.rank)
export(bt.run)
export(bt.run.share)
export(bt.run.share.ex)
export(bt.run.share.ex.allocate)
export(bt.run.share.ex.invest)
export(bt.run.share.ex.test)
export(bt.run.share.ex.test.cashflow)
export(bt.run.share.ex.test.tax)
export(bt.run.share.fast)
export(bt.run.share.unadjusted.test)
export(bt.run.share.unadjusted.test.data)
export(bt.run.trim.helper)
export(bt.run.weight.fast)
export(bt.simple)
export(bt.start.dates)
export(bt.stop.strategy.plot)
export(bt.summary)
export(bt.time.price.stop)
export(bt.time.stop)
export(bt.trade.summary)
export(bt.trade.summary.helper)
export(bt.trade.summary.old)
export(bt.trim)
export(bt.ts.enter.state)
export(bt.ts.price.stop)
export(bt.ts.time.price.stop)
export(bt.ts.time.stop)
export(bt.ts.trade.index)
export(bt.unadjusted.add.div.split)
export(bundes.bank.data)
export(bundes.bank.data.gold)
export(calendar.signal)
export(calendar.strategy)
export(cap.weighted.mean)
export(cboe.volatility.term.structure.SPX)
export(check.args)
export(chr)
export(clean.table)
export(close)
export(close.StringBuffer)
export(cluster.group.FTCA)
export(cluster.group.hclust)
export(cluster.group.kmeans.90)
export(cluster.group.kmeans.elbow)
export(clusterApplyLB.log)
export(col.add.alpha)
export(col.name2row)
export(compute.annual.factor)
export(compute.avg.drawdown)
export(compute.avgcor)
export(compute.cagr)
export(compute.calmar)
export(compute.cdar)
export(compute.cor)
export(compute.cvar)
export(compute.drawdown)
export(compute.drawdowns)
export(compute.DVR)
export(compute.exposure)
export(compute.max.deviation)
export(compute.max.drawdown)
export(compute.nyears)
export(compute.quantiles)
export(compute.R2)
export(compute.raw.annual.factor)
export(compute.risk)
export(compute.sharpe)
export(compute.stats)
export(compute.turnover)
export(compute.var)
export(consecutive.changes)
export(convert2expr)
export(count)
export(country.code)
export(cov.2param)
export(cov.const.cor)
export(cov.diag)
export(cov.market)
export(cov.sample)
export(cov.shrink)
export(create.basic.constraints)
export(create.cov.matrix)
export(create.historical.ia)
export(create.ia)
export(create.ia.averaged)
export(create.ia.period)
export(create.ia.subset)
export(create.leveraged)
export(create.monthly.table)
export(create.strategies)
export(createNonReactiveTextInput)
export(createNonReactiveTextInputCustom)
export(cross)
export(cross.dn)
export(cross.dn.eq)
export(cross.up)
export(cross.up.eq)
export(custom.composite.diversification.indicator)
export(custom.stop.fn)
export(custom.stop.fn.list)
export(data.aqr)
export(data.clean)
export(data.csi.security.master)
export(data.ff)
export(data.fomc)
export(data.ft.index.members)
export(data.ft.search.ticker)
export(data.ishares.universe)
export(data.yahoo.profile)
export(date.fund.data)
export(dates2index)
export(debug.load)
export(debug.save)
export(default.round.lot.control)
export(default.tax.control)
export(delete.constraints)
export(diagonal.shrinkage)
export(distribute.weights)
export(dow.jones.components)
export(download.helper)
export(DV)
export(DVI)
export(edgar.info)
export(ef.portfolio)
export(empty.group)
export(engineering.returns.kpi)
export(env)
export(env.del)
export(env.rm)
export(equal.risk.contribution.portfolio)
export(equal.weight.portfolio)
export(ev.ratio)
export(event.at)
export(exp.sample.shrinkage)
export(expr.symbols)
export(exrem)
export(extend.data)
export(extend.data.proxy)
export(extend.GLD)
export(extract.table.from.webpage)
export(extract.token)
export(extract.VXX.CBOE)
export(factor.avgcor)
export(factor.model.shrinkage)
export(fast.na.omit)
export(find.all.patterns.window)
export(find.erc.portfolio)
export(find.erc.portfolio.simple)
export(find.extrema)
export(find.maximum.distance.point)
export(find.names)
export(find.patterns)
export(find.tokens)
export(flip.xts)
export(fm.hist.dow.jones.components)
export(fred.fx.symbol)
export(ftse100.components)
export(fund.data)
export(fx.sauder.data)
export(fxhistoricaldata.fx.symbol)
export(geom2aritm)
export(geom2aritm4)
export(get.algo)
export(get.CRB)
export(get.extension)
export(get.fama.french.data)
export(get.filename)
export(get.FOMC.dates)
export(get.full.filename)
export(get.fund.data)
export(get.fund.data.index)
export(get.G10)
export(get.group)
export(get.risky.asset.index)
export(get.url)
export(getQuote.google)
export(getQuote.google.xml)
export(getQuote.yahoo.info)
export(getQuote.yahoo.today)
export(getSymbol.CBOE)
export(getSymbol.intraday.google)
export(getSymbols.extra)
export(getSymbols.fxhistoricaldata)
export(getSymbols.intraday)
export(getSymbols.PI)
export(getSymbols.sit)
export(getSymbols.TB)
export(google.search)
export(group.seasonality)
export(hist.quotes.url)
export(ia.build.hist)
export(ifna)
export(ifna.prev)
export(ifna.prevx)
export(ifna.prevx.rev)
export(ifnull)
export(iif)
export(iline)
export(index.xts)
export(inv)
export(inv1)
export(inv2)
export(inv3)
export(join)
export(last.signals)
export(last.trades)
export(ledoit.wolf.shrinkage)
export(len)
export(list2matrix)
export(list2vars)
export(lm.constraint)
export(load.aqr.data)
export(load.packages)
export(load.VXX.CBOE)
export(log.fn)
export(log.fn.msg)
export(look.at.taxes)
export(lookup.index)
export(lp.obj.portfolio)
export(ls.f)
export(ls.v)
export(lst)
export(make.data.proxy)
export(make.random.string)
export(make.stock.xts)
export(make.xts)
export(map.min.risk.fns)
export(map.symbols)
export(map2monthly)
export(map2vector)
export(mat)
export(mat.3d)
export(mat.slice.3d)
export(max.div.portfolio)
export(max.geometric.return.portfolio)
export(max.omega.portfolio)
export(max.return.portfolio)
export(max.sharpe.nlp.portfolio)
export(max.sharpe.portfolio)
export(max.sharpe.portfolio.helper)
export(max.shrinkage)
export(meom.strategy)
export(merge.constraints)
export(min.avgcor.portfolio)
export(min.cdar)
export(min.cdar.portfolio)
export(min.cor.insteadof.cov.portfolio)
export(min.corr)
export(min.corr.excel)
export(min.corr.excel.portfolio)
export(min.corr.portfolio)
export(min.corr.special.case)
export(min.corr2)
export(min.corr2.portfolio)
export(min.cvar)
export(min.cvar.portfolio)
export(min.gini.portfolio)
export(min.mad.downside)
export(min.mad.downside.portfolio)
export(min.mad.portfolio)
export(min.maxloss.portfolio)
export(min.portfolio)
export(min.risk.downside)
export(min.risk.downside.portfolio)
export(min.risk.portfolio)
export(min.shrinkage)
export(min.te.portfolio.test)
export(min.var.excel)
export(min.var.excel.portfolio)
export(min.var.portfolio)
export(min.var.portfolio.gmpl)
export(min.var2)
export(min.var2.portfolio)
export(min.var2111)
export(mlag)
export(mlast)
export(momentum.averaged)
export(month.year.seasonality)
export(nasdaq.100.components)
export(new.constraints)
export(normal.transform)
export(normalize.mkval)
export(normalize.normal)
export(ntop)
export(ntop.helper)
export(ntop.keep)
export(ols)
export(ols.summary)
export(optimize.portfolio)
export(optimize.portfolio.nlp)
export(parse.expr)
export(parse.number)
export(parse.views)
export(pattern.db)
export(percent.rank)
export(percent.rankM)
export(performance.barchart.helper)
export(plot.add.portfolios)
export(plot.bt.quantiles)
export(plot.ef)
export(plot.factors)
export(plot.ia)
export(plot.omega)
export(plot.patterns)
export(plot.quantiles)
export(plot.table)
export(plot.transition.map)
export(plot.transitopn.map)
export(plot12month.rolling.spread)
export(plota)
export(plota.add.copyright)
export(plota.colors)
export(plota.colors.experimental)
export(plota.format)
export(plota.grid)
export(plota.layout)
export(plota.legend)
export(plota.lines)
export(plota.matplot)
export(plota.recession)
export(plota.scale.volume)
export(plota.stacked)
export(plota.test)
export(plota.text)
export(plota.theme)
export(plota.theme.blue.red)
export(plota.theme.gray.orange)
export(plota.theme.green.orange)
export(plota.volume)
export(plota.x.highlight)
export(plota.y.highlight)
export(plota2Y)
export(plotbt)
export(plotbt.custom.report)
export(plotbt.custom.report.part1)
export(plotbt.custom.report.part2)
export(plotbt.custom.report.part3)
export(plotbt.holdings)
export(plotbt.holdings.time)
export(plotbt.monthly.table)
export(plotbt.strategy.sidebyside)
export(plotbt.transition.map)
export(portfolio.allocation.custom.stats)
export(portfolio.allocation.helper)
export(portfolio.allocation.helper.basic)
export(portfolio.allocation.helper.parallel)
export(portfolio.avgcor)
export(portfolio.avgcor.real)
export(portfolio.cdar)
export(portfolio.cdar.real)
export(portfolio.concentration.gini.coefficient)
export(portfolio.concentration.herfindahl.index)
export(portfolio.cvar)
export(portfolio.geometric.return)
export(portfolio.gini.coefficient)
export(portfolio.mad)
export(portfolio.mad.downside)
export(portfolio.maxloss)
export(portfolio.omega)
export(portfolio.return)
export(portfolio.risk)
export(portfolio.risk.contribution)
export(portfolio.risk.downside)
export(portfolio.turnover)
export(portfolio.unrebalanced.return)
export(portfolio.var)
export(portopt)
export(portopt.omega)
export(PricingZeroCouponBond)
export(processTBill)
export(proxy.map)
export(proxy.overlay.plot)
export(proxy.prices)
export(proxy.test)
export(quantumonline.info)
export(randfixedsum)
export(random.hist)
export(random.hist.weight)
export(random.string)
export(randsphere)
export(read.file)
export(read.xts)
export(reconstruct.VXX.CBOE)
export(remove.tags)
export(rep.col)
export(rep.row)
export(replace.token)
export(repmat)
export(rev.map)
export(Rglpk.create.constraints)
export(Rglpk.read.model)
export(risk.parity.portfolio)
export(risk.parity.portfolio.basic)
export(roofing.filter)
export(roofing.stochastic.indicator)
export(rotation.strategy)
export(round.lot)
export(round.lot.basic)
export(round.lot.basic.base)
export(round.to)
export(row.name2col)
export(rso.portfolio)
export(run.count)
export(runQuantile)
export(sample.anchored.shrinkage)
export(sample.mix.shrinkage)
export(sample.shrinkage)
export(scale.one)
export(sector.mean)
export(sector.spdr.components)
export(set.risky.asset)
export(setup.cluster)
export(shrink.const.cor)
export(shrink.diag)
export(shrink.single.index)
export(shrink.two.parameter)
export(solve.LP.bounds)
export(solve.QP.bounds)
export(sp100.components)
export(sp500.components)
export(spl)
export(static.group)
export(static.weight.portfolio)
export(strategy.load.historical.data)
export(strategy.performance.snapshoot)
export(string)
export(string.buffer)
export(string.StringBuffer)
export(super.smoother.filter)
export(tableColor)
export(target.return.portfolio)
export(target.return.portfolio.helper)
export(target.risk.portfolio)
export(target.risk.portfolio.helper)
export(target.vol.strategy)
export(tax.cashflows)
export(tax.summary)
export(test.equality)
export(tic)
export(time.seasonality)
export(timing.strategy)
export(to.cash)
export(to.nice)
export(to.percent)
export(toc)
export(trim)
export(TSI)
export(type.constraints)
export(ulcer.index)
export(update.ia)
export(us.ishares.components)
export(variable.number.arguments)
export(vars2list)
export(vec)
export(verify.control)
export(visualize.system.parameter.optimization)
export(wealthsimple.portfolio)
export(write.file)
export(write.xts)
export(xts2ts)
export(XTSFunctions)
export(zacks.info)
